@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
html {
    font-family: 'Segoe UI', sans-serif;
}
#windowWrapper {
    height: 100dvh;
    width: 100dvw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}
body {
    background-size: 1rem 1rem;
    background-color: #202020;
    background-image:
        linear-gradient(to right, #505050 1px, transparent 1px),
        linear-gradient(to bottom, #505050 1px, transparent 1px);
}