#DevPreviewContainer {
    background: transparent;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: #353535a0;
    backdrop-filter: blur(1.5px);
    border-radius: 5px;
    border: 1px #505050 solid;
    box-shadow: 0 0 30px #50505090;
    padding: 10px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }      
    h1 {
        color: #fff;
        margin: 0;
        font-size: 2rem;
        padding-bottom: 4px;
        border-bottom: 1px #505050 solid;
        margin-bottom: 4px;
    }
    p {
        color: #e0e0e0;
        margin: 0;
        width: 100%;
        margin-bottom: 4px;
    }
}
body {
    background-size: 1rem 1rem;
    background-color: #202020;
    background-image:
        linear-gradient(to right, #50505090 1px, transparent 1px),
        linear-gradient(to bottom, #50505090 1px, transparent 1px);
}
.welcome {
    .contents{
        padding:.5rem !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .5rem;
    }
    h1 {
        margin: 0;
        // position: absolute !important;
        // top: .5rem;
        font-size: 2rem;
        line-height: 1.1;
        // left: .5rem;
    }
    #logo {
        height: 5rem;
        aspect-ratio: 1 / 1;
        position: absolute;
        top: .5rem;
        right: .5rem;
        background-image: url("/assets/beansite7_favicon.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 5px rgba(black,.8)) drop-shadow(0 5px 5px rgba(black,.5));
    }
    p {
        margin: 0;
    }
    #quickAccess {
        height: 4.675rem;
        width: 100%;
        // background: pink;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        .qcitem {
            height: 100%;
            aspect-ratio: 4 / 5;
            // background: pink;
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: column;
            gap: 0rem !important;
            cursor: pointer;
            .icon {
                width: 80%;
                aspect-ratio: 1 / 1;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            span {
                font-size: .875rem;
                color: #303030;
            }
        }
    }
}
.changelog {
    h1 {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1;
        span {
            font-size: 1.25rem;
            color: #303030;
        }
        margin-bottom: .5rem;
    }
    p {
        margin: 0;
        color: #101010;
        font-size: 1rem;
    }
    ul {
        margin: 0;
        color: #101010;
        font-size: 13px;
    }
}
#bloomfx {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100dvh;
	width: 100dvw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 998;
	background: transparent;
	backdrop-filter: brightness(150%) contrast(2) blur(8px);
	opacity: .25;
	pointer-events: none;
    &::after {
        content: "";
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100dvh;
        width: 100dvw;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 999;
        background: transparent;
        backdrop-filter: brightness(250%) contrast(2.5) blur(4px);
        opacity: .25;
        pointer-events: none;
    }
}
.debug {
    .button1 {
        margin: 0;
        padding: .25rem 2rem;
        backdrop-filter: blur(3px);
        border-radius: 6px;
        border: 1px solid rgba(134,199,255,.85);
        cursor: pointer;
        box-shadow: 
            inset 2px 2px 10px #ffffffd0,
            inset -2px -2px 10px #40404050,
            5px 5px 1rem #000000d0,
            0 0 .5rem #000000d0;
        background: 
            linear-gradient(123deg,
                rgba(185,222,255,0.5) 0%,
                rgba(141,196,245,0.65) 46%,
                rgba(108,167,230,0.75) 100%);
        &:hover {
            border: 1px solid rgba(142, 255, 134, 0.85);
            background: 
                linear-gradient(123deg,
                    rgba(185,255,186,0.5) 0%,
                    rgba(141,245,164,0.65) 46%,
                    rgba(108,230,130,0.75) 100%);
        }
    }
}