#DevPreviewContainer {
    background: transparent;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background: #353535a0;
    backdrop-filter: blur(1.5px);
    border-radius: 5px;
    border: 1px #505050 solid;
    box-shadow: 0 0 30px #50505090;
    padding: 10px 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }      
    h1 {
        color: #fff;
        margin: 0;
        font-size: 2rem;
        padding-bottom: 4px;
        border-bottom: 1px #505050 solid;
        margin-bottom: 4px;
    }
    p {
        color: #e0e0e0;
        margin: 0;
        width: 100%;
        margin-bottom: 4px;
    }
}
.wallpaper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    background-color: black;
    padding: 2px;
    box-sizing: content-box;
    // background-size: 1rem 1rem;
    /* background-color: #202020;
    background-image:
        linear-gradient(to right, #50505090 1px, transparent 1px),
        linear-gradient(to bottom, #50505090 1px, transparent 1px); */
}
.welcome {
    .contents{
        padding:.5rem !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: .5rem;
    }
    h1 {
        margin: 0;
        // position: absolute !important;
        // top: .5rem;
        font-size: 2rem;
        line-height: 1.1;
        // left: .5rem;
    }
    #logo {
        height: 5rem;
        aspect-ratio: 1 / 1;
        position: absolute;
        top: .5rem;
        right: .5rem;
        background-image: url("/assets/beansite7_favicon.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 5px rgba(black,.8)) drop-shadow(0 5px 5px rgba(black,.5));
    }
    p {
        margin: 0;
    }
    #quickAccess {
        height: 4.675rem;
        width: 100%;
        // background: pink;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        .qcitem {
            height: 4.675rem;
            aspect-ratio: 4 / 5;
            // background: pink;
            display: flex;
            justify-items: center;
            align-items: center;
            flex-direction: column;
            gap: 0rem !important;
            cursor: pointer;
            .icon {
                height: 2.5rem;
                aspect-ratio: 1 / 1;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            span {
                font-size: .875rem;
                color: #303030;
            }
        }
    }
}
.changelog {
    h1 {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1;
        span {
            font-size: 1.25rem;
            color: #303030;
        }
        margin-bottom: .5rem;
    }
    p {
        margin: 0;
        color: #101010;
        font-size: 1rem;
    }
    ul {
        margin: 0;
        color: #101010;
        font-size: 13px;
    }
}
#bloomfx {
	display: flex;
	justify-content: center;
	align-content: center;
	height: 100dvh;
	width: 100dvw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 998;
	background: transparent;
	backdrop-filter: brightness(150%) contrast(2) blur(8px);
	opacity: .25;
	pointer-events: none;
    &::after {
        content: "";
        display: flex;
        justify-content: center;
        align-content: center;
        height: 100dvh;
        width: 100dvw;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 999;
        background: transparent;
        backdrop-filter: brightness(250%) contrast(2.5) blur(4px);
        opacity: .25;
        pointer-events: none;
    }
}
.debug {
    .button1 {
        margin: 0;
        padding: .25rem 2rem;
        backdrop-filter: blur(3px);
        border-radius: 6px;
        border: 1px solid rgba(134,199,255,.85);
        cursor: pointer;
        box-shadow: 
            inset 2px 2px 10px #ffffffd0,
            inset -2px -2px 10px #40404050,
            5px 5px 1rem #000000d0,
            0 0 .5rem #000000d0;
        background: 
            linear-gradient(123deg,
                rgba(185,222,255,0.5) 0%,
                rgba(141,196,245,0.65) 46%,
                rgba(108,167,230,0.75) 100%);
        &:hover {
            border: 1px solid rgba(142, 255, 134, 0.85);
            background: 
                linear-gradient(123deg,
                    rgba(185,255,186,0.5) 0%,
                    rgba(141,245,164,0.65) 46%,
                    rgba(108,230,130,0.75) 100%);
        }
    }
}
.settings {
    .contents {
        gap: 6px;
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        flex-direction: column;
        overflow-y: scroll;
        *{flex-shrink: 0;}
        h1 {
            margin: 0;
            font-size: 2.5rem;
        }
        h2 {
            margin: 0;
            font-size: 1.75rem;
        }
        .keyitm {
            font-size: .875rem;
            .sqr {
                aspect-ratio: 1 / 1;
                height: 1rem;
                display: inline-block;
                &.red {background: #e52121;}
                &.yellow {background: #FFFF5C;}
                &.gray {background: #454545;}
            }
        }
        #storageBar {
            height: 2rem;
            width: 20rem;
            border: 1px solid #45454590;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            .barSect {
                height: 100%;
                font-size: .5rem;
                min-width: .5rem;
                // flex: 0;
                &.red{background: #e52121;}
                &.yellow{background: #FFFF5C;}
                &.gray{background: #454545;}
            }
        }
        .backgroundSelector {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            height: fit-content;
            width: 100%;
            background: #f5f5f5;
            padding: .5rem 1rem;
            // border-radius: .5rem;
            border: 1px solid #45454590;
            gap: .5rem;
            flex-wrap: wrap;
            padding-top: 2rem;
            &::before {
                content: "C:\\Users\\Public\\Pictures\\Wallpapers\\";
                position: absolute;
                top: .25rem;
                left: 1rem;
                color: #2b36cc;
            }
            .AddButtonWrapper {
                width: calc((100% + (.5rem * -3)) / 4);
                min-width: 6rem;
                aspect-ratio: 3 / 2;
                .AddButton {
                    height: 100%;
                    aspect-ratio: 1 / 1;
                    backdrop-filter: blur(3px);
                    border-radius: 4px;
                    max-height: 5rem;
                    border: 1px solid rgba(212, 222, 230, 0.85);
                    font-size: 1.25rem;
                    transition: .35s;
                    &:hover {
                        filter: brightness(115%);
                        & > * {
                            filter: brightness(85%);
                        }
                    }
                    box-shadow: 
                        inset 2px 2px 10px #ffffffd0,
                        inset -2px -2px 10px #40404050,
                        5px 5px 1rem #0000000f,
                        0 0 .5rem #00000067;
                    background: 
                        linear-gradient(123deg,
                            rgba(230, 241, 249, 0.502) 0%,
                            rgba(215, 230, 243, 0.65) 46%,
                            rgba(197, 216, 236, 0.75) 100%);
                }
                // background: pink;
                display: flex;
                padding: .45rem;
                padding-top: .35rem;
                justify-content: flex-start;
                align-items: center;
            }
            .backgroundItem {
                // width: calc((100% + (.5rem * 8)) / 6);
                // width: calc((100% + (.5rem * -3)) / 4);
                width: 7.5rem;
                max-width: 15rem;
                min-width: 6rem;
                aspect-ratio: 3 / 2;
                // background: pink;
                backdrop-filter: blur(3px);
                border-radius: 4px;
                border: 1px solid rgba(212, 222, 230, 0.85);
                box-shadow: 
                    inset 2px 2px 10px #ffffffd0,
                    inset -2px -2px 10px #40404050,
                    5px 5px 1rem #0000000f,
                    0 0 .5rem #00000067;
                background: 
                    linear-gradient(123deg,
                        rgba(230, 241, 249, 0.502) 0%,
                        rgba(215, 230, 243, 0.65) 46%,
                        rgba(197, 216, 236, 0.75) 100%);
                display: flex;
                padding: .45rem;
                padding-top: .35rem;
                justify-content: center;
                align-items: center;
                transition: .35s;
                &:hover {
                    filter: brightness(115%);
                    & > .bgWrap {
                        filter: brightness(85%);
                    }
                }
                .delBtn {
                    height: 1rem;
                    aspect-ratio: 1 / 1;
                    background: transparent;
                    z-index: 20;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    background-image: url("/icons/54.ico");
                    position: absolute !important;
                    top: 1px;
                    right: 1px;
                    margin: 0;
                    padding: 0;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    filter: drop-shadow(0 0 5px #000);
                    transition: .35s;
                    &:hover {
                        scale: 115%;
                    }
                }
                .bgWrap {
                    transition: .35s;
                    height: 100%;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    cursor: pointer;
                    box-shadow: 
                        0 0 3px rgba(black,.125),
                        0 5px 5px rgba(black,.25);
                }
            }
        }
        .backgroundSettings {
            height: 6rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            // background: pink;
            .item {
                // background: green;
                height: 100%;
                padding: .5rem;
                gap: .25rem;
                width: fit-content;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                .customSelect {
                    height: 2rem;
                    width: 11.5rem;
                    backdrop-filter: blur(3px);
                    border-radius: 4px;
                    border: 1px solid rgba(212, 222, 230, 0.85);
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    gap: .5rem;
                    box-shadow: 
                        inset 2px 2px 10px #ffffffd0,
                        inset -2px -2px 10px #40404050,
                        5px 5px 1rem #0000000f,
                        0 0 .5rem #00000067;
                    transition: .35s;
                    &:hover {
                        filter: brightness(105%);
                        & > * {
                            filter: brightness(95%);
                        }
                    }
                    background: 
                        linear-gradient(123deg,
                            rgba(230, 241, 249, 0.502) 0%,
                            rgba(215, 230, 243, 0.65) 46%,
                            rgba(197, 216, 236, 0.75) 100%);
                    padding: .375rem;
                    select {
                        flex-grow: 1;
                        height: 100%;
                        background: none;
                        border: none;
                    }
                    .bgp {
                        transition: .35s;
                        height: 100%;
                        aspect-ratio: 3 / 2;
                        border: 2px solid #fff;
                        background-position: center;
                        background-color: black;
                        box-shadow: 
                            inset 2px 2px 10px #ffffffd0,
                            inset -2px -2px 10px #40404050,
                            5px 5px 1rem #0000000f,
                            0 0 .5rem #00000067;
                    }
                }
            }
        }
        textarea {
            height: 12rem;
            font-size: .875rem;
            line-height: 1;
            font-family: monospace !important;
            white-space: pre-wrap;
        }
        .reset {
            margin: 0;
            padding: .25rem 2rem;
            backdrop-filter: blur(3px);
            border-radius: 6px;
            border: 1px solid rgba(134,199,255,.85);
            cursor: pointer;
            box-shadow: 
                inset 2px 2px 10px #ffffffd0,
                inset -2px -2px 10px #40404050,
                5px 5px 1rem #000000d0,
                0 0 .5rem #000000d0;
            background: 
                linear-gradient(123deg,
                    rgba(185,222,255,0.5) 0%,
                    rgba(141,196,245,0.65) 46%,
                    rgba(108,167,230,0.75) 100%);
            &:hover {
                border: 1px solid rgba(142, 255, 134, 0.85);
                background: 
                    linear-gradient(123deg,
                        rgba(185,255,186,0.5) 0%,
                        rgba(141,245,164,0.65) 46%,
                        rgba(108,230,130,0.75) 100%);
            }
        }
        .caption {
            font-size: .675rem;
            color: gray;
            margin-top: -.5rem;
        }
    }
}