.default {
    @property --win-tb-clr1 {
        syntax: "<color>";
        inherits: false;
        initial-value: rgba(220,243,255,1);
    }
    @property --win-tb-clr2 {
        syntax: "<color>";
        inherits: false;
        initial-value: rgba(177,216,232,1);
    }
    @property --win-tb-clr3 {
        syntax: "<color>";
        inherits: false;
        initial-value: rgba(159,191,213,1);
    }
    @property --win-tb-clr4 {
        syntax: "<color>";
        inherits: false;
        initial-value: rgba(172,228,249,1);
    }
    .window {
        backdrop-filter: blur(3px);
        border-radius: 6px;
        border: 1px solid rgba(134,199,255,.85);
        box-shadow: 
            inset 2px 2px 10px #ffffffd0,
            inset -2px -2px 10px #40404050,
            5px 5px 1rem #000000d0,
            0 0 .5rem #000000d0;
        background: 
            linear-gradient(123deg,
                rgba(185, 222, 255, 0.5) 0%,
                rgba(141, 196, 245, 0.65) 46%,
                rgba(108, 167, 230, 0.75) 100%);
        .tb {
            filter: drop-shadow(0 0 5px #ffffff90);
        }
        .bw {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border: 1px #40404080 solid;
            button {
                border-right: 1px #40404090 solid;
                background: linear-gradient(180deg, 
                    var(--win-tb-clr1) 0%,
                    var(--win-tb-clr2) 50%,
                    var(--win-tb-clr3) 51%, 
                    var(--win-tb-clr4) 100%);
                transition: 
                    filter .15s,
                    --win-tb-clr1 .05s,
                    --win-tb-clr2 .15s,
                    --win-tb-clr3 .25s,
                    --win-tb-clr4 .15s;
                color: #f0f0f0;
                // -webkit-text-stroke: 1px #404040;
                text-shadow: 
                    0 0 5px #050505,
                    0 0 1px #050505,
                    1px 1px 2px #101010;
                &:hover {
                    /* --win-tb-clr1: rgb(238, 249, 255);
                    --win-tb-clr2: rgb(208, 233, 242);
                    --win-tb-clr3: rgb(206, 223, 234);
                    --win-tb-clr4: rgb(240, 248, 251); */
                    filter: brightness(125%);
                }
                &.close {
                    width: 42px;
                    flex-shrink: 0;
                    --win-tb-clr1: rgb(248, 142, 131);
                    --win-tb-clr2: rgb(216, 129, 115);
                    --win-tb-clr3: rgb(203, 56, 28);
                    --win-tb-clr4: rgb(228, 97, 66);
                }
                &::before {
                    content: "";
                    height: 100%;
                    width: 100%;
                    position: absolute !important;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    background: linear-gradient(white,transparent,transparent,white);
                    opacity: .35;
                }
            }
        }
        .contents {
            background: #f9f9f9;
            border: outset 1px #f0f0f0;
            border-radius: 2px;
        }
        .resizeX, .resizeY {
            &:hover, &:active {
                background: rgba(34, 57, 77, 0.65);
            }
        }
    }
}
#Taskbar {
    backdrop-filter: blur(3px);
    border: 1px solid rgba(134,199,255,.85);
    box-shadow: 
        inset 2px 2px 10px #ffffffd0,
        inset -2px -2px 10px #40404050;
    background: 
        linear-gradient(123deg,
            rgba(185, 222, 255, 0.5) 0%,
            rgba(141, 196, 245, 0.65) 46%,
            rgba(108, 167, 230, 0.75) 100%);
    #startButton {
        background-image: url("/assets/beansite7_favicon.png");
        background-size: 80%;
    }
}